@import "../../vars.css";

.container {
  position: relative;
  background-color: rgba(12, 12, 12, 0.6);
  border-radius: 15px;
  padding: 73px;
  margin-top: 129px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}



.text1 {
  float: right;  
}



.content p {
    font-size: 25px;
    color: var(--color-text);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1.75px;
  }

  .text2{
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    font-family: 'Roboto';
    color: var(--color-text);
}

.text{
    text-align: center;
}